*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#eed2cc;
    background-position: center;
    background-size: cover;
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: #000000;
    background-color: #fbf7f4;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}
.wrapper h1{
  font-size: 36px;
  text-align: center;  
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.777);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #000000;

}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
display: flex;
justify-content: space-between;
font-size: 14.5px;
margin: -15px 0 15px;

}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline; 
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align:center ;
    margin-top: 20px 0 15px;
}
.register-link p a{
    color:#000000 ;
    text-decoration: none;
    font-weight: 600;
    transition: color ease-in-out 0.3s;
}
.register-link p a:hover{
    color: hsl(210, 82%, 62%)

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #279af1;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 10000;


}
.logo{
    width: 160px; 
    margin-right: 45px;

}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li{
    width: 28px;
    margin: 0 15px;
}
.nav-left img{
    width: 40px;
    border-radius: 50%;
}
.nav-user-icon img{
 width: 40px;
 border-radius: 50%; 
 cursor: pointer;  
}

.nav-user-icon{
    margin-left: 30px;
}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
   
}
.search-box img{
    width: 20px;

}
.search-box input{
   width: 100%;
   background: transparent;
   padding: 10px;
   outline: none;
   border: 0; 
}
.online {
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
