{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} EveryDay Forum {% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "css/global.css" %}'>
<link rel='stylesheet' type='text/css' href='{% static "css/w3.css" %}'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %} ">
</head>
<nav class="w3-sidebar w3-right w3-bar-block w3-card w3-top w3-xlarge w3-animate-right" style="display:none;right:0;width:20%;min-width:200px" id="Profile">
    <div style='padding-top: 100px;'>
      {% if user.is_authenticated %}
      {% if profile_picture %}
      <a class='w3-bar-item w3-button' href='{% url "user_posts" request.user.username %}'> <img src='{{profile_picture.url}}' style='width: 50px; height: 50px;' class='w3-circle'> &nbsp; {{ request.user.username }} </a>
      {% else %}
      <a class='w3-bar-item w3-button' href='{% url "user_posts" request.user.username %}'> <img src='{% static "images/default.jpg"%}' style='width: 50px; height: 50px;' class='w3-circle'> &nbsp; {{ request.user.username }} </a>
  
      {% endif %}
      <a href="{% url 'logout' %}" style='color: black;'><p class='w3-bar-item w3-button'> Logout </p></a>
      {% endif %}
  </div>
</nav>
<div class='w3-bar' style='background-color: #7392b7; z-index:10000; position: fixed; top:0px; width:100%;'>
<a href="{% url 'index' %}" class='w3-bar-item w3-button w3-padding-32' style='color: white; font-family: Helvetica; font-weight: bold;'> Everyday Forum </a>
{% if user.is_authenticated %}
{% if notifications.is_read %}
<a href='{% url  "notification" %}' class='w3-bar-item w3-button w3-padding-32'><i class="fa fa-bell online" aria-hidden="true" style='color: white; font-size: 22px;'></i></a>
{% else %}
<a href='{% url  "notification" %}' class='w3-bar-item w3-button w3-padding-32'><i class="fa fa-bell" aria-hidden="true" style='color: white; font-size: 20px;'></i></a>
{% endif %}
{% endif %}
{% if user.is_authenticated %}
{% if profile_picture %}
<div onclick='w3_open()'><a class='w3-bar-item w3-padding-16 w3-right'><img src='{{ profile_picture.url }}' class='w3-circle profile-picture'></a></div>
{% else %}
<div onclick='w3_open()'><a class='w3-bar-item w3-padding-16 w3-right'><img src='{% static "images/default.jpg" %}' class='w3-circle profile-picture'></a></div>
{% endif %}

<a href="{% url 'user_list' %}" class='w3-button w3-padding-16 w3-left size w3-bar-item w3-button w3-padding-32' style='color: white;'> <i class='fa fa-users' style='font-size: 20px;'> </i> </a>    

<form action="{% url 'search_results' %}" method="get" class='w3-right search-bar'>
  <input type="text" name="query" placeholder="Search..." class='w3-bar-item w3-padding-16' style='margin-top: 13px;'>
</form>
{% endif %}

{% if user.is_authenticated %}
<a href='{% url "search_button" %}' class='w3-bar-item w3-padding-32 w3-right' style='color: white; font-size: 15px;'><i class="fa fa-search search-button"></i></a>
{% endif %}
</div>
<div class='main-container'>


{% block content %}

{% endblock %}

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    
    function followUser(userId) {
      // Perform the follow action using AJAX
      $.get("{% url 'add_follower_ajax' follower_id=0 %}".replace("0", userId), function(data) {
        // Handle the response
        console.log(data);

        // Update the page content
        if (data.status === 'success') {
          // Update follower and following counts
          $('#followerCount').text(data.followerCount);
          $('#followingCount').text(data.followingCount);

          // Update "Follow" link to "Unfollow"
          $('#followLink').text('Unfollow');
          $('#followLink').attr('onclick', 'return unfollowUser(' + userId + ')');

          // Manipulate the browser history
          var stateObj = { userId: userId, action: 'follow' };
          window.history.replaceState(stateObj, "Followed user", window.location.href);
        }
      });
      return false;  // Prevent default anchor tag behavior
    }

    function unfollowUser(userId) {
      // Perform the unfollow action using AJAX
      $.get("{% url 'delete_follower_ajax' follower_id=0 %}".replace("0", userId), function(data) {
        // Handle the response
        console.log(data);

        // Update the page content
        if (data.status === 'success') {
          // Update follower and following counts
          $('#followerCount').text(data.followerCount);
          $('#followingCount').text(data.followingCount);

          // Update "Unfollow" link to "Follow"
          $('#followLink').text('Follow');
          $('#followLink').attr('onclick', 'return followUser(' + userId + ')');

          // Manipulate the browser history
          var stateObj = { userId: userId, action: 'unfollow' };
          window.history.replaceState(stateObj, "Unfollowed user", window.location.href);
        }
      });
      return false;  // Prevent default anchor tag behavior
    }

    function w3_open() {
      if(document.getElementById("Profile").style.display == "none") {
        document.getElementById("Profile").style.display = "block";
      } else {
        document.getElementById("Profile").style.display = "none"
      }
    }
  
  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }
  
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry)
      if(entry.isIntersecting) {
        entry.target.classList.add('show');
      } else {
        entry.target.classList.remove('show');
      }
    });
  });

  // Get the modal
var modal1 = document.getElementById("myModal1");

// Get the button that opens the modal
var btn1 = document.getElementById("openModal1");

// Get the <span> element that closes the modal
var span1 = document.getElementById("closeModal1");

// When the user clicks on the button, open the modal 
if (btn1) {
btn1.onclick = function() {
  modal1.style.display = "block";
}
}

if (span1) {
// When the user clicks on <span> (x), close the modal
span1.onclick = function() {
  modal1.style.display = "none";
}
}
// When the user clicks anywhere outside of the modal, close it

// Get the modal
var modal2 = document.getElementById("myModal2");

// Get the button that opens the modal
var btn2 = document.getElementById("openModal2");

// Get the <span> element that closes the modal
var span2 = document.getElementById("closeModal2");

// When the user clicks on the button, open the modal 
if (btn2) {
btn2.onclick = function() {
  modal2.style.display = "block";
}
}
// When the user clicks on <span> (x), close the modal
if (span2) {
span2.onclick = function() {
  modal2.style.display = "none";
}
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {

  if (event.target == modal2) {
    modal2.style.display = "none";
  }

  if (event.target == modal1) {
    modal1.style.display = "none";
    
  }

}


</script>