{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>{% block title %} Everyday Forum {% endblock %} </title>
    {% block override_css %}
    <link rel="stylesheet" href="{% static 'css/new_global.css' %}">
    {% endblock %}
    <script src="https://kit.fontawesome.com/f85c4e35e9.js" crossorigin="anonymous"></script>
    
</head>
{% if user.is_authenticated %}
<body>
    
    <nav>
            <div class="nav-left">
                <a href='{% url "index" %}' class='logo'>Everyday Forum</a>
                
                <a href='{% url "user_list" %}'><i class="fa fa-users" aria-hidden="true" style='font-size: 30px; color:black;'></i></a>
            </div>
            
            <div class="nav-right">

                <div class="search-box">
                    <img src="{% static 'images/search.png'%}" >
                    <input type="text" placeholder="Search">
            </div>

                <div class="nav-user-icon">
                    <a href='{% url "user_posts" request.user.username %}'>
                    {% if request.user.extrauser.profile_picture %}
                        <img src="{{ request.user.extrauser.profile_picture.url }}">
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}">
                    {% endif %}
                    </a>
                </div>
            </div>
            
    </nav>

    <div class="container">
        <!--------left sidebar-------------->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><img src="{% static 'images/news.png'%}" > Latest news</a>
                <a href="#"><img src="{% static 'images/friends.png'%}" > Friends</a> 
                <a href="#"><img src="{% static 'images/group.png'%}" > Groups</a>
                <a href="#">See More</a>
            </div>
            <div class="shortcut-links">
                <p>Your Shortcuts</p>
                <a href="#"><img src="{% static 'images/shortcut-1.png'%}" >Web Developers</a>
                <a href="#"><img src="{% static 'images/shortcut-2.png'%}" >Web Design Course</a>
                <a href="#"><img src="{% static 'images/shortcut-3.png'%}" >Frontend Development</a>
                <a href="#"><img src="{% static 'images/shortcut-4.png'%}" >Web Experrts</a>
            </div>

        </div>
        {% endif %}
         <!--------main content-------------->
        <div class='main-container'>
        <div class="main-content">
            {% block content %}

            {% endblock %}

        </div>
      </div>
            
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    {% block override_js %}
    <script>
        
        function followUser(userId) {
          // Perform the follow action using AJAX
          $.get("{% url 'add_follower_ajax' follower_id=0 %}".replace("0", userId), function(data) {
            // Handle the response
            console.log(data);
    
            // Update the page content
            if (data.status === 'success') {
              // Update follower and following counts
              $('#followerCount').text(data.followerCount);
              $('#followingCount').text(data.followingCount);
    
              // Update "Follow" link to "Unfollow"
              $('#followLink').text('Unfollow');
              $('#followLink').attr('onclick', 'return unfollowUser(' + userId + ')');
    
              // Manipulate the browser history
              var stateObj = { userId: userId, action: 'follow' };
              window.history.replaceState(stateObj, "Followed user", window.location.href);
            }
          });
          return false;  // Prevent default anchor tag behavior
        }
    
        function unfollowUser(userId) {
          // Perform the unfollow action using AJAX
          $.get("{% url 'delete_follower_ajax' follower_id=0 %}".replace("0", userId), function(data) {
            // Handle the response
            console.log(data);
    
            // Update the page content
            if (data.status === 'success') {
              // Update follower and following counts
              $('#followerCount').text(data.followerCount);
              $('#followingCount').text(data.followingCount);
    
              // Update "Unfollow" link to "Follow"
              $('#followLink').text('Follow');
              $('#followLink').attr('onclick', 'return followUser(' + userId + ')');
    
              // Manipulate the browser history
              var stateObj = { userId: userId, action: 'unfollow' };
              window.history.replaceState(stateObj, "Unfollowed user", window.location.href);
            }
          });
          return false;  // Prevent default anchor tag behavior
        }
    
        function w3_open() {
          if(document.getElementById("Profile").style.display == "none") {
            document.getElementById("Profile").style.display = "block";
          } else {
            document.getElementById("Profile").style.display = "none"
          }
        }
      
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }
      
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          console.log(entry)
          if(entry.isIntersecting) {
            entry.target.classList.add('show');
          } else {
            entry.target.classList.remove('show');
          }
        });
      });
    
    // JavaScript
// Get the modal
var modal1 = document.getElementById("myModal1");

// Get the button that opens the modal
var btn1 = document.getElementById("openModal1");

// Get the <span> element that closes the modal
var span1 = document.getElementById("closeModal1");

// When the user clicks on the button, open the modal 
btn1.onclick = function() {
  modal1.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span1.onclick = function() {
  modal1.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it

// Get the modal
var modal2 = document.getElementById("myModal2");

// Get the button that opens the modal
var btn2 = document.getElementById("openModal2");

// Get the <span> element that closes the modal
var span2 = document.getElementById("closeModal2");

// When the user clicks on the button, open the modal 
if (btn2) {
btn2.onclick = function() {
  modal2.style.display = "block";
}
}
// When the user clicks on <span> (x), close the modal
if (span2) {
span2.onclick = function() {
  modal2.style.display = "none";
}
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {

  if (event.target == modal2) {
    modal2.style.display = "none";
  }

  if (event.target == modal1) {
    modal1.style.display = "none";
    
  }
}


    
</script>
{% endblock %}

</body>
</html>