{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div classs='post-container'>
    <div class='card-container' style='padding-top: 1em;'>
        <h3 style='padding-left: 10px;'>People You Follow</h3>
    {% for follower in followings %}
    <a href='{% url "user_posts" follower.following.username %}'>
        <div class='card'>
            {% if follower.following.extrauser.profile_picture %}
    <img src='{{ follower.following.extrauser.profile_picture.url }}' class='profile' style='width: 5em; height: 5em;' /> 
    {% else %}
    <img src='{% static "images/default.jpg" %}' class='profile' style='width: 5em; height: 5em;' />
    {% endif %}
    <p class='username' style='margin:0'>{{ follower.following.username }}</p>
</div>
</a>
    {% endfor %}
    
</div>

</div>

<div class="write-post-container">
    <div class="user-profile">
        {% if request.user.extrauser.profile_picture %}
    <img src='{{ request.user.extrauser.profile_picture.url }}' class='profile' style='width: 2em; height: 2em;' /> 
    {% else %}
    <img src='{% static "images/default.jpg" %}' class='profile' style='width: 2em; height: 2em;' />
    {% endif %}
        <div>
            <p>{{ request.user.username }}</p>
        </div>
    </div>

    <div class="post-input-container">
<textarea rows="3" placeholder="What's on your mind?"></textarea>

<div class="add-post-links">
    <a> Post? </a>
</div>

    </div>

</div>

{% for post in random_posts %}
<div class="post-container" style='margin-top: 1em;'>
    <div class="post-row">
        <div class="user-profile">
            {% if post.user.extrauser.profile_picture %}
        <img src='{{ post.user.extrauser.profile_picture.url }}' class='post-profile'>
        {% else %}
        <img src='{% static "images/default.jpg" %}' class='post-profile'>
        {% endif %}
            <div>
                <p>{{post.user.username}}</p>
                <small>{{ post.created_at }}</small>
            </div>
        </div>
        <a href="#"><i class="fa-solid fa-ellipsis-v"></i></a>

    </div>
    
    <p class="post-text"> {{ post.content }} </p>
    {% if post.picture %}
    <img src="{{ post.picture.url }}" class="post-img">
    {% endif %}
    <div class="post-row">
        <div class="post-profile-icon">
    </div>

    </div>

</div>
{% endfor %}

{% endblock %}