{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='index'>
    <div classs='post-card-container'>
    <div class='card-container' style='padding-top: 1em;'>
        <h3 style='padding-left: 10px;'>People You Follow</h3>
    {% for follower in followings %}
    <a href='{% url "user_posts" follower.following.username %}'>
        <div class='card'>
            {% if follower.following.extrauser.profile_picture %}
    <img src='{{ follower.following.extrauser.profile_picture.url }}' class='profile' style='width: 5em; height: 5em;' /> 
    {% else %}
    <img src='{% static "images/default.jpg" %}' class='profile' style='width: 5em; height: 5em;' />
    {% endif %}
    <p class='username' style='margin:0'>{{ follower.following.username }}</p>
</div>
</a>
    {% endfor %}
    
</div>

</div>

<div class="write-post-container">
    {% if request.user.extrauser.profile_picture %}
    <img src='{{ request.user.extrauser.profile_picture.url }}' style='width: 2em; height: 2em; border-radius: 50%;' /> 
    {% else %}
    <img src='{% static "images/default.jpg" %}' class='profile' style='width: 2em; height: 2em; border-radius: 50%;' />
    {% endif %}
    <span><input id='openModal1' placeholder="&nbsp;What's on your mind?" /></span>
</div>

<div id='myModal1' class='modal'>
    <div class='modal-content'>
        <span id='closeModal1'>&times;</span>
        <p class='heading'> Post Something </p>
        <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'> Post </button>
        </form>
    </div>
</div>

    {% for post in random_posts %}
<div class="post-container" style='margin-top: 1em;'>
    <div class="post-row">
        <div class="user-profile">
        <a href='{% url "user_posts" post.user.username %}'>
        {% if post.user.extrauser.profile_picture %}
        <img src='{{ post.user.extrauser.profile_picture.url }}' class='post-profile'>
        {% else %}
        <img src='{% static "images/default.jpg" %}' class='post-profile'>
        {% endif %}
        </a>
            <div>
                <p>{{post.user.username}}</p>
                <small>{{ post.created_at }}</small>
            </div>
        </div>
        <a href="#"><i class="fa-solid fa-ellipsis-v"></i></a>

    </div>
    
    <p class="post-text"> {{ post.content }} </p>
    {% if post.picture %}
    <img src="{{ post.picture.url }}" class="post-img">
    {% endif %}
    <div class="post-row">
        <div class="post-profile-icon">
    </div>

    </div>

</div>
{% endfor %}

{% endblock %}


<form method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
<div class="post-input-container">
{{ form.as_p }}

<div class="add-post-links">
<button type='submit'> Add Post </button>
</div>

</div>

</div>
</form>
</div>