{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block override_css %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="https://kit.fontawesome.com/f85c4e35e9.js" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <ul class="messages">
        {{ message }}
    {% endfor %}
    </ul>
{% endif %}

<div class="wrapper">
    <form method="post">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="input-box">
            <input name='username' type="text" placeholder="Username" class='username' required> 
            <i class="fa-solid fa-user"></i>
            </div>
            
            <div class="input-box">
            <input name='password' type="password" placeholder="Password" required>
            <i class="fa-solid fa-lock"></i>
        </div>
        <button type="submit" class="btn" onclick="a()">Login</button>
        <div class="register-link">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a> </p>
        </div>
    </form>
</div>
{% endblock %}
