{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='random-posts' style='padding-bottom: 20px; padding-left: 10px;'>
{% for notification in notifications %}
<div class='comment-box' style='width: 80%;'>
    {% if notification.sender_user.extrauser.profile_picture %}
    <a href='{% url "user_posts" notification.sender_user.username %}'><img src='{{ notification.sender_user.extrauser.profile_picture.url }}' class='profile' style='width: 50px; height: 50px; border-radius: 50%;'></a>
    {% else %}
    <img src='{% static "images/default.jpg" %}' class='profile' style='width: 50px; height: 50px; border-radius: 50%;'>
    {% endif %}
    {% if notification.get_absolute_url %}
    <a href='{{ notification.get_absolute_url }}'>{{ notification.content }}</a>
{% else %}
   Has followed you.
{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
