{% extends 'base.html' %}

{% block content %}
<div class='random-posts' style='padding-bottom: 20px; padding-left: 10px;'>
{% for notification in notifications %}

{% if notification.get_absolute_url %}
    <a href='{{ notification.get_absolute_url }}'><p>{{ notification.content }}</p></a>
{% else %}
    {% if notification.sender_user %}
        <a href='{% url "user_posts" notification.sender_user.username %}'><p>{{ notification.content }}</p></a>
        {{ notification.sender_user.username }}
    {% else %}
        <p>{{ notification.content }}</p>
    {% endif %}
{% endif %}

{% endfor %}
</div>
{% endblock %}
