{% extends 'base.html' %}
{% load static %}

{% block title %} {{post.user}} - {{post.title}} {% endblock %}

{% block content %}

<div class='w3-container'>
<div class='comment-container'>
<h2 style='font: helvetica; font-weight: bold;'> {{ post.title }} </h2>
{% if post.user.extrauser.profile_picture %}
<a href='{% url "user_posts" post.user.username %}'> <img src='{{ post.user.extrauser.profile_picture.url }}' class='profile-picture w3-circle'> {{ post.user }}</a>
{% else %}
<img src='{% static "images/default.jpg" %}' class='profile-picture w3-circle'> {{ post.user }}
{% endif %}
<p> {{ post.created_at }} </p>

<div style='white-space: pre-line; '> {{ post.content }} </div>

{% if post.picture %}
<img src='{{ post.picture.url }}' class='post-image'>
{% endif %}

<div style='margin-top: 20px;'>

{% if user.is_authenticated and user == post.user %}
<a href="{% url 'post_delete' post.pk %}"> Delete </a>
{% endif %} 
</div>
</div>
</div>
<div class='random-posts' style='padding-left: 15px;'>
{% if messages %}
    {% for message in messages %}
    <ul class="messages">
        {{ message }}
    {% endfor %}
    </ul>
{% endif %}
<div class='comments-container'>
<div class='comment-container'>
<form method='POST' id='commentForm'>
{% csrf_token %}
<h2 style='font-family: helvetica; font-weight: bold;'> Write a Comment </h2>
{{ form.comment }} <br>
<button type='submit'> Submit </button>
</form>
</div>
{% for comment in comments %}
<div class='comment-container'>
{% if comment.user.extrauser.profile_picture %}
<img class='profile-picture w3-circle' src='{{ comment.user.extrauser.profile_picture.url }}'> {{ comment.user.username }}
{% else %}
<img class='profile-picture w3-circle' src='{% static 'images/default.jpg' %}'> {{ comment.user.username }}
{% endif %}
<div style='white-space: pre-line;'>{{ comment.comment }}</div>
</div>
{% endfor %}
</div>
<script>
function resizeTextarea() {
    const textarea = document.getElementById('expandingTextarea');
    textarea.style.height = Math.max(textarea.scrollHeight + 2, 6 * parseFloat(getComputedStyle(textarea).fontSize)) + 'px';
    if (textarea.value.trim() === '') {
        textarea.style.height = '6em';
      }
  }
</script>

{% endblock %}
