{% extends 'base.html' %}
{% load static %}

{% block title %} {{post.user}} - {{post.title}} {% endblock %}

{% block content %}

<div class='random-posts' style='padding-left: 20px; padding-bottom: 20px;'>
<h2 style='font: helvetica; font-weight: bold;'> {{ post.title }} </h2>
{% if post.user.extrauser.profile_picture %}
<a href='{% url "user_posts" post.user.username %}'> <img src='{{ post.user.extrauser.profile_picture.url }}' class='profile-picture w3-circle'> {{ post.user }}</a>
{% else %}
<img src='{% static "images/default.jpg" %}' class='profile-picture w3-circle'> {{ post.user }}
{% endif %}
<p> {{ post.created_at }} </p>

<div style='white-space: pre-line; '> {{ post.content }} </div>

{% if post.picture %}
<div class='post-image'>
<img src='{{ post.picture.url }}'>
</div>
{% endif %}

<div style='margin-top: 20px;'>

{% if user.is_authenticated and user == post.user %}
<a href="{% url 'post_delete' post.pk %}"> Delete </a>
{% endif %} 
</div>
</div>
<div class='random-posts' style='padding-left: 15px;'>
{% if messages %}
    {% for message in messages %}
    <ul class="messages">
        {{ message }}
    {% endfor %}
    </ul>
{% endif %}
<div style='padding-bottom: 10px;'>

    <form method='POST' id='commentForm'>
        {% csrf_token %}
        <h2 style='font-family: helvetica; font-weight: bold;'> Write a Comment </h2>
        {{ form.comment }} <br>
        <button type='submit'> Submit </button>
    </form>
{% for comment in comments %}
<div class='comment-container'>
<div class='comment-box'>
{% if comment.user.extrauser.profile_picture %}
<img class='profile-picture w3-circle' src='{{ comment.user.extrauser.profile_picture.url }}'> {{ comment.user.username }}{% if request.user == comment.user %}<a href='{% url "delete_comment" comment.id %}'>&nbsp; &nbsp;X</a>
{% endif %}
{% else %}
<img class='profile-picture w3-circle' src='{% static 'images/default.jpg' %}'> {{ comment.user.username }}
{% endif %}
<div style='white-space: pre-line;'>{{ comment.comment }}</div>
</div>



{% for reply in replies %}
    {% if reply.comment == comment %}
        <div class='reply-container'>
            <div class='comment-box' style='display: inline-block; padding-right: 10px;'>
                {% if reply.user.extrauser.profile_picture %}
                <img src='{{ reply.user.extrauser.profile_picture.url }}' style='width:40px; height:40px; display: inline-block;' class='w3-circle'>
                {% else %}
                <img src='{% static "images/default.jpg" %}' style='width:40px; height:40px; display: inline-block; margin-bottom: 25px;' class='w3-circle'>
                {% endif %}
                
                {{ reply.user.username }}  <br>
            {{ reply.content }}
            </div>
        </div>
    {% endif %}
{% endfor %}
<br>
<form method='POST' id='replyForm'>
    {% csrf_token %}
    {{ reply_form.content }}
    <input type='hidden' name='comment_id' value='{{ comment.id }}'>
    <button type='submit' name='reply' class='submit-reply'>Submit Reply</button>
</form>

</div>
{% endfor %}

</div>

<script>

// Assuming you have an array of IDs in Django and passed it to the template
function myFunction() {
var ids = [{% for item in comments %} "{{ item.id }}", {% endfor %}];

// Loop through each ID and add click event listeners
for (var i = 0; i < ids.length; i++) {
  var currentId = ids[i];
  var element = document.getElementById(currentId);

  // Check if the element exists
  if (element) {
    console.log(element)
    // Add a click event listener to each element
    element.addEventListener('click', function() {
      // Deactivate all elements first
      deactivateAllElements();

      // Activate the clicked element
      this.classList.add('active');
    });
  }
}
}
// Function to deactivate all elements
function deactivateAllElements() {
  var elements = document.querySelectorAll('.target-element');
  elements.forEach(function(element) {
    element.classList.remove('active');
  });
}


function resizeTextarea() {
    const textarea = document.getElementById('expandingTextarea');
    textarea.style.height = Math.max(textarea.scrollHeight + 2, 6 * parseFloat(getComputedStyle(textarea).fontSize)) + 'px';
    if (textarea.value.trim() === '') {
        textarea.style.height = '6em';
      }
  }

  window.onload = function() {
    if(localStorage.getItem("scrollPosition")) {
        window.scrollTo(0, localStorage.getItem("scrollPosition"));
    }
}

window.onscroll = function() {
    localStorage.setItem("scrollPosition", window.pageYOffset);
}


</script>

{% endblock %}
