{% extends 'base.html' %}
{% load static %}


{% block title %} Register {% endblock %}

{% block override_css %}
<script src="https://kit.fontawesome.com/f85c4e35e9.js" crossorigin="anonymous"></script>

<link rel='stylesheet' href='{% static "css/login.css" %}'>
{% endblock %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


<div class='wrapper'>
    <h1>Register</h1>
    <form method='post'>
        {% csrf_token %}
        <div class='input-box'>
            {{ form.username }}
            <i class='fa-solid fa-user'></i>
        </div>

        <div class='input-box'>
            {{ form.password1 }}
            <i class='fa-solid fa-lock'></i>
        </div>
        <div class='input-box'>
            {{ form.password2 }}
            <i class='fa-solid fa-lock'></i>
        </div>
        <div class='input-box'>
            <div style='padding-bottom: 5px'>
            {{ profile_form.profile_picture }}
            <i class='fa-solid fa-picture-o' style='padding-top: 10px;' ></i>
            </div>
        </div> <br>
        <button type='submit' class='btn'> Register </button>
        <div class="register-link">
        <p> Already have an account? <a href='{% url "login" %}'>Click here to Login</a></p>
        </div>
    </form>
</div>

{% endblock %}
