{% extends 'base.html' %}
{% load static %}

{% block title %} {{ user.username }} - Posts {% endblock %}

{% block content %}

<div style='margin-top: 3em;'>

<div class='random-posts'>
<div style='padding-left: 10px; padding-bottom: 20px;'>
{% if user.extrauser.profile_picture %}
<h1> <img src='{{ user.extrauser.profile_picture.url }}' style='width: 3em; height: 3em;' class='w3-circle'> {{ user.username }} </h1>
{% else %}
<h1> <img src='{% static "images/default.jpg" %}' style='width: 3em; height: 3em;' class='w3-circle'> {{ user.username }} </h1>
{% endif %}
{% if user.username != request.user.username %}
{% if is_following %}
<a id="followLink" href="#" onclick="return unfollowUser({{ user.id }})" style='padding-left: 5px;'>Unfollow</a> &nbsp;

{% else %}
<a id="followLink" href="#" onclick="return followUser({{ user.id }})" style='padding-left: 5px;'>Follow</a>
{% endif %}
{% endif %}
<br>
<button id="openModal1" class='follower'>Following: <span id='followerCount'> {{ followers_count }}</span> </button> | <button id="openModal2">Followers: <span id='followingCount'> {{ following_count }}</span> </button>
</div>
</div>
        {% for post in posts %}
        <a href='{% url "post_details" post.slug %}'>
        <div class='random-posts'>
            <div class='post'>
            {% if post.user.extrauser.profile_picture %}
            <img class='w3-circle post-profile' src='{{ post.user.extrauser.profile_picture.url }}'> &nbsp;
            {% else %}
            <img class='w3-circle post-profile' src='{% static "images/default.jpg" %}'> &nbsp;
            {% endif %}
            <div class='username'>
                {{post.user.username}} <br>
                {{ post.created_at }}
            </div>
        
            <div class='content'>{{post.content}}</div>
        
            <div class='post-image'>
                {% if post.picture %}
                <img src='{{ post.picture.url }}'>
                {% endif %}
            </div>
        
        </div>
        </div>
    </a>
        {% endfor %}
</div>

<div id="myModal1" class="modal">
    <div class="modal-content" style='font-family: Helvetica, sans-serif; font-size: 24px; '>
      <span id="closeModal1">&times;</span>
      <p class='heading' style='font-size: 32px;'>Following List</p>
      {% for follower in following %}
      {% if follower.following.username != request.user %}
      {% if follower.following.extrauser.profile_picture %}
      <p><a href="{% url 'user_posts' follower.following.username %}"><img src="{{ follower.following.extrauser.profile_picture.url }}" style='border-radius: 50%; width: 75px; height: 75px;'> {{ follower.following.username }} </a> {% if request.user.username == current_user.username %} </a><a href="{% url 'delete_follower' follower_id=follower.following.id %}" style='padding-left: 5px;'> Unfollow</a> {% endif %}</p>
      {% else %}
      <p><a href="{% url 'user_posts' follower.following.username %}"><img src="{% static 'images/default.jpg' %}" style='border-radius: 50%; width: 75px; height: 75px;'> {{ follower.following.username }} {% if request.user.username == current_user.username %} </a><a href="{% url 'delete_follower' follower_id=follower.following.id %}" style='padding-left: 5px;'> Unfollow</a> {% endif %}</p>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <div id='myModal2' class='modal'>
      <div class='modal-content'  style='font-family: Helvetica, sans-serif; font-size: 24px; '>
          <span id='closeModal2'>&times;</span>
          <p class='heading' style='font-size: 32px;'> Follower List </p>
          {% for follower in followers %}
          {% if follower.user.extrauser.profile_picture %}
          <p><a href='{% url "user_posts" follower.user.username %}'><img src='{{ follower.user.extrauser.profile_picture.url }}' style='border-radius: 50%; width: 75px; height: 75px;'> {{ follower.user.username }} </a></p>
          {% else %}
          <p><a href='{% url "user_posts" follower.user.username %}'><img src='{% static "images/default.jpg" %}' style='border-radius: 50%; width: 75px; height: 75px;'>{{ follower.user.username }}</a></p>
          {% endif %}
          {% endfor %}
      </div>


{% endblock %}