{% extends 'base.html' %}

{% block title %} List of All Users {% endblock %}

{% load static %}

{% block content %}
<div class='user-container'>
<h2 class='header'>User List</h2>

    {% for data in user_data %}
        <div class='card'>
        <a href='{% url "user_posts" data.user.username %}'>
        {% if data.user.extrauser.profile_picture %}
        <img src="{{ data.user.extrauser.profile_picture.url }}" alt="{{ data.user.username }}'s profile picture" class='profile'>
        {% else %}
        <img src='{% static "images/default.jpg" %}' alt="{{ data.user.username }}'s Profile Picture" class='w3-circle profile'>
        {% endif %}
        <p class='username' style='margin:0'>{{ data.user.username }} </p>
        </a>
      </div>
    {% endfor %}

    </div>
{% endblock %}
